body {
  background-color: #b91547;
}

.gp-container {
  max-width: 1000px;
  background-color: white;
  border-radius: 20px;
  margin-top: 30px;
}

.gp-btn {
  border-style: none;
  background-color: #c5c5c5;
  border: 1px solid #b91547;
  color: #b91547;
}

h5 {
  color: #b91547;
}

.col input {
  border-color: #b91547;
  border-radius: 5px;
  margin-top: 5px;
}
